link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png?v=pggbdznk0x")
link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png?v=pggbdznk0x")
link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png?v=pggbdznk0x")
link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png?v=pggbdznk0x")
link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png?v=pggbdznk0x")
link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png?v=pggbdznk0x")
link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png?v=pggbdznk0x")
link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png?v=pggbdznk0x")
link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png?v=pggbdznk0x")
link(rel="icon", type="image/png", href="/favicon-32x32.png?v=pggbdznk0x", sizes="32x32")
link(rel="icon", type="image/png", href="/favicon-194x194.png?v=pggbdznk0x", sizes="194x194")
link(rel="icon", type="image/png", href="/favicon-96x96.png?v=pggbdznk0x", sizes="96x96")
link(rel="icon", type="image/png", href="/android-chrome-192x192.png?v=pggbdznk0x", sizes="192x192")
link(rel="icon", type="image/png", href="/favicon-16x16.png?v=pggbdznk0x", sizes="16x16")
link(rel="manifest", href="/manifest.json?v=pggbdznk0x")
link(rel="mask-icon", href="/safari-pinned-tab.svg?v=pggbdznk0x", color="#7834bd")
link(rel="shortcut icon", href="/favicon.ico?v=pggbdznk0x")
meta(name="apple-mobile-web-app-title", content="Blur")
meta(name="application-name", content="Blur")
meta(name="msapplication-TileColor", content="#7834bd")
meta(name="msapplication-TileImage", content="/mstile-144x144.png?v=pggbdznk0x")
meta(name="theme-color", content="#7834bd")
