//-
  Copyright 2016 Ali Moghnieh
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

footer.footer.m-t-md
  p.text-muted Designed & Developed by 
    b: a(target="_blank" href='http://twitter.com/Supaa') @Supaa.
  p.text-muted Newsletter subscription coming soon.
  p.text-muted: b Copyright &copy; #{new Date().getFullYear()} BlurEngine #[em Apache License 2.0]
  p.text-muted Current revision: #[a(href="//github.com/BlurEngine/BlurDocs" target="_blank") #{settings['git-short']} (#{settings['git-branch']})]
        
