//-
  Copyright 2016 Ali Moghnieh
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

extends layout

block variables
  - var subtitle = "Guide"

mixin guide_link(href, name)
  if href !== ''
    - href = '/' + href
  - var __href = '/guides' + href
  li(class=path===__href?'active':undefined): a(href="/guides" + href)&attributes(attributes)= name

block _content
  header: h1 Guides
  section.row.no-padding
    //- First column - Navbar
    aside.sidebar.col-xs-2
      nav.navbar.navbar-default(role="navigation")
        .container-fluid
          ul.nav.nav-stacked
            +guide_link('', 'Getting Started')
    //- Second column - content
    main.col-xs-9
      block content
