//-
  Copyright 2016 Ali Moghnieh
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

extends documentation

block variables
  - var subtitle = "Module"
  - var category = "Modules"

  //- Define modules JSON array
  -
    var modules = [
      {slug: "extents",          name: "Extents",           description: "Define regions in a world."},
      {slug: "filters",          name: "Filters",           description: "Filter entities to stand out."},
      {slug: "goal",             name: "Goal",              description: "Define stage-ending goals."}
    ]

mixin module_link(href, name, tooltip)
  if href !== ''
    - href = '/' + href
  - var __href = '/modules' + href
  li(class=path===__href?'active':undefined): a(href=__href)&attributes(attributes)= name

block sidebarnav
  +module_link('', 'Main')
  each module in modules
    +module_link(module.slug, module.name)
